@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Oblique";
  src: local("big_noodle_titling_oblique"),
       url("./assets/fonts/big_noodle_titling_oblique.ttf") format("truetype");
}

@font-face {
  font-family: "Regular";
  src: local("big_noodle_titling"),
       url("./assets/fonts/big_noodle_titling.ttf") format("truetype");
}
